<!DOCTYPE html>
<html>
    <head>
        <title>IT酷鱼网 | H5Guide</title>
        <link rel='stylesheet' type="text/css" href='/css/style.css' />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
    	<div class="top-bar"><!-- topBar -->
            <div class="navbar-inner">
                <a href="###" class="logoName"><i class="icon-magic"></i> H5Guide <sub>v0.0.1</sub></a>
            </div>
    	</div><!-- topBar end -->

        <div class="left-bar"><!-- leftBar -->
            <ul class="left-menu">
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
            </ul>
        </div><!-- leftBar end -->


        <div class="right-bar"><!-- leftBar -->
            
        </div><!-- leftBar end -->

