<!DOCTYPE html>
<html>
    <head>
        <title>IT酷鱼网 | H5Guide</title>
        <link rel='stylesheet' type="text/css" href='/css/style.css' />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>
    	<div class="top-bar"><!-- topBar -->
            <div class="navbar-inner">
                <div class="logoName"><i class="icon-magic"></i> H5Guide <sub>v0.0.1</sub></div>
                <!-- <div class="top-control-box">
                    <div class="top-control" id="add-img"><i class="icon-picture"></i>新增图片</div>
                    <div class="top-control" id="add-text"><i class="icon-pencil"></i>新增文字</div>
                    <div class="top-control" id="add-btn"><i class="icon-circle-blank"></i>新增按钮</div>
                    <div class="top-control" id="add-music"><i class="icon-music"></i>背景音乐</div>
                </div> -->
                <div class="top-button" id="userBtn"><i class="icon-user"></i>用户</div>
                <div class="top-button" id="menuBtn"><i class="icon-th"></i>菜单</div>
                <!-- <div class="top-button"><i class="icon-save"></i>保存</div> -->
                <!-- <div class="top-button"><i class="icon-eye-open"></i>预览</div> -->
            </div>
    	</div><!-- topBar end -->