<!DOCTYPE html>
<html>
    <head>
        <title>IT酷鱼网 | H5Guide</title>
        <link rel='stylesheet' type="text/css" href='/css/style.css' />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <script type="text/javascript" src="/js/common.js"></script>
    </head>
    <body>
    	<div class="top-bar"><!-- topBar -->
            <div class="navbar-inner">
                <a href="###" class="logoName"><i class="icon-magic"></i> H5Guide <sub>v0.0.1</sub></a>
            </div>
    	</div><!-- topBar end -->

        <div class="left-bar"><!-- leftBar -->
            <ul class="left-menu">
                <li>
                    <div class="left-menu-panel">
                        <div class="left-menu-panel-title">1</div>
                        <div class="left-menu-panel-content">图例</div>
                    </div>
                </li>
                <li>
                    <div class="left-menu-panel">
                        <div class="left-menu-panel-title">2</div>
                        <div class="left-menu-panel-content">图例</div>
                    </div>
                </li>
            </ul>
        </div><!-- leftBar end -->


        <div class="right-bar"><!-- leftBar -->
            <div class="right-menu">
                <ul>
                    <li>基础</li>
                    <li>特效</li>
                    <li>样板</li>
                </ul>
            </div>
            <div class="right-content"></div>
        </div><!-- leftBar end -->

