<%= include header %>
<div class="left-bar"><!-- leftBar -->
    <div class="left-menu">
        <ul>
            <li>
                <div class="left-menu-panel on">
                    <div class="left-menu-panel-title">1</div>
                    <div class="left-menu-panel-content"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="add-page-btn">+</div>
</div><!-- leftBar end -->


<div class="right-bar"><!-- leftBar -->
    <div class="right-menu">
        <ul>
            <li class="on" relName="jc">基础</li>
            <li style="display:none;" relName="ys">样式</li>
            <li style="display:none;" relName="gs">格式</li>
            <li style="display:none;" relName="pl">排列</li>
            <li style="display:none;" relName="xg">效果</li>
            <li style="display:none;" relName="tx">特效</li>
            <li style="display:none;" relName="yy">音乐</li>
            <li style="display:none;" relName="mb">模版</li>
        </ul>
    </div>
    <div class="right-content"></div>
</div><!-- leftBar end -->

<div class="conent-box"><!-- contentBox -->
    
</div><!-- contentBox end -->
<%= include footer %>