<%= include header %>
<div class="left-bar"><!-- leftBar -->
    <div class="left-menu">
        <ul>
        </ul>
    </div>
    <div class="add-page-btn">+</div>
</div><!-- leftBar end -->


<div class="right-bar"><!-- rightBar -->
    <div class="right-menu">
        <ul>
            <li class="on" relName="jc">基础</li>
            <li style="display:none;" relName="ys">样式</li>
            <li style="display:none;" relName="gs">格式</li>
            <li style="display:none;" relName="pl">排列</li>
            <li style="display:none;" relName="xg">效果</li>
            <li style="display:none;" relName="tx">特效</li>
            <li style="display:none;" relName="yy">音乐</li>
            <li style="display:none;" relName="mb">模版</li>
        </ul>
    </div>
    <div class="right-content"></div>
</div><!-- rightBar end -->
<div class="user-bar"><!-- userBar -->
    <div class="headImageBox">
    	图像
    </div>
    <div class="accountBox">
    	用户
    </div>
    <div class="historyBox">
    	历史
    </div>
</div><!-- userBar end -->
<div class="conent-box"><!-- contentBox -->
    <div class="conent-box-page">
    	adsdasd
    </div>
    <div class="conent-box-page hid">
    	adsdasd322
    </div>
</div><!-- contentBox end -->
<%= include footer %>