<div class="left-bar"><!-- leftBar -->
	<ul class="leftMenu"><!-- 左侧菜单 -->
		<li>
			<a href="/" class="<%- menu == 'index' ? 'active' : '' %>">
				<i class="icon-dashboard"></i>
				<span>首页</span>
			</a>
		</li>
		<li>
			<a href="/manage" class="<%- menu == 'manage' ? 'active' : '' %>">
				<i class="icon-sitemap"></i>
				<span>管理</span>
			</a>
		</li>
		<li>
			<a href="/make" class="<%- menu == 'make' ? 'active' : '' %>">
				<i class="icon-film"></i>
				<span>制作</span>
			</a>
		</li>
		<li>
			<a href="/setup"class="<%- menu == 'setup' ? 'active' : '' %>">
				<i class="icon-cogs"></i>
				<span>设置</span>
			</a>
		</li>
	</ul><!-- 左侧菜单 end -->
</div><!-- leftBar end -->