*{margin: 0px; padding: 0px;list-style: none;}
a{text-decoration: none;color: rgba(0, 0, 0, 0.65);}

body{background: #eee;}
/* 顶部 */

.top-bar{position: fixed;top: 0;right: 0;left: 0;z-index: 889;margin-bottom: 0;}
.top-bar .navbar-inner{padding: 0 20px;-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);min-height: 50px;background-color: #fafafa;background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);border: 1px solid #d4d4d4;}
.top-bar .navbar-inner .logoName{display: block;float: left;padding: 15px 20px 15px;margin-left: -20px;font-size: 20px;font-weight: 200;color: #777777;}


.left-bar{z-index: 888;position: fixed;top: 0px;left: 0;width: 180px;background-color: #eee;border-collapse: separate;bottom: 0;box-shadow: rgb(216, 216, 216) 2px 2px 6px;height: 100%;overflow-y: auto;}
.left-bar .left-menu{list-style: none;padding: 0;margin: 0;text-align: center;cursor: pointer;margin-top: 52px;height:100%;}
.left-bar .left-menu li{padding: 6px;height: 140px;background: #ddd;}

.right-bar{z-index: 888;position: fixed;top: 0px;right: 0;width: 360px;background-color: #eee;border-collapse: separate;bottom: 0;box-shadow: rgb(216, 216, 216) -2px -2px 6px;}

.right-bar .right-menu{width: 59px;height: 100%;border-right: 1px #ddd solid;float: left;}


